src/main/mule/payloadchoice.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<configuration-properties doc:name="Configuration properties" doc:id="f4775cbd-fade-49c5-b361-bb11d749160c" file="muleapp.properties" />
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="c4fcec48-a954-43eb-84da-70c5cd2a6100" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<flow name="payloadchoiceFlow" doc:id="8634f279-280a-4632-a340-261e4ccb63da" >
		<http:listener doc:name="Listener" doc:id="1654379a-5278-499d-aa6e-356263863c5a" path="${http.path}" config-ref="HTTP_Listener_config"/>
		<logger level="INFO" doc:name="Logger" doc:id="a9d6e4fa-90ab-4c1e-8409-bd353e593820" message="#[payload]"/>
		<set-variable value="payload.Colleges.Collegename" doc:name="Set Variable" doc:id="ebc0a515-e4b8-4f9b-a0a7-02985fcf9640" variableName="collegeName"/>
		<ee:transform doc:name="Transform Message" doc:id="ae40a74e-9fa4-4cd3-a538-e99c2d9fa0af" >
			<ee:message >
				<ee:set-payload ><![CDATA[payload.Colleges.Collegename]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<choice doc:name="Choice" doc:id="818cc50d-0a18-4ca8-a333-a35cb9a84c54" >
			<when expression="#[vars.collegeName=='Vignan']">
				<ee:transform doc:name="Transform Message" doc:id="bcad795c-3ff3-491d-b4ed-d85a784ece98" >
					<ee:message >
						<ee:set-payload ><![CDATA[payload.Colleges.Branchdetails.Branch]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<logger level="INFO" doc:name="Logger" doc:id="e3fd544d-c4a8-4e0f-b61d-1fe01e6fe0c3" message="#[vars.collegeName]"/>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="bb168ea2-68a4-40df-b815-919b0dcfac63" message='#["Default Log printed"]'/>
			</otherwise>
		</choice>
	</flow>
</mule>
